*{
    font-family: 'Preahvihear', sans-serif;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }

textarea {
    margin: 0;
    border-radius: 0;
    color: black;
    background-color: transparent;
}
body{
    background-color: rgb(155, 101, 206);
}

.highlight{
    background-color: yellow;
}

.main-title{
    font-family: 'Preahvihear', sans-serif;
    margin-top: 15px;

}
.btn:hover{
    background-color:rgb(123, 41, 200)

}
